<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-12  col-md-4 col-sm-12">
     <img src="./../../../assets/Imagenes/sietecruces/siete.jpg" alt="" width="450px">
    </div>
    <div class="col-12 col-md-4 col-sm-12 col-xs-12">
  <img src="./../../../assets/Imagenes/sietecruces/cruz.png" alt="" width="200px">
 </div>
 </div>
   <form>
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Clave Siete Cruces</label>
       <textarea name="textarea" maxlength="240" rows="7"(keyup)="onKey($event)" type="text" class="form-control"  placeholder="Escribe un parrafo aqui...!!!"></textarea>
      </div>
      <label>Codificación</label> 
      <br> 
      <section *ngFor="let item of lista">
      <img src="./../../../assets/Imagenes/sietecruces/{{item}}.jpg" alt="" id="siete">
      </section>
      <div id="division"></div>

      <input type="button" id="imprimir" value="Imprimir codificacion" onclick="window.print();">
    </form>
