form{
    margin-bottom: 30px;
    
}
textarea {
    font-size: 150%;
}
img{
    margin-right: 100px;
    padding-right: 50px;
    margin-top: 10px;
    
   }
  #sos{
     color:grey;
     background-color: rgb(128, 3, 13);
     font-family: 'miletra'; 
  }

  @font-face{
    font-family: 'miletra';
    src: url('./../../../MTCORSVA.TTF');
    }
