<div class="container-fluid">
  <div class="row my-3 mx-1 align-item-center ">

    <div class="col-12 col-md-6 col-lg-3">
       <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="./../../assets/Documentacion/Rover1.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">01_La comunidad Rover</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="./../../assets/Documentacion/ROVERS 1.pdf" class="btn btn-primary">Ver documento</a>
      </div>
      </div>
     </div>  
      
     <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="./../../assets/Documentacion/Rover2.jpg" alt="Card image cap">
       <div class="card-body">
       <h5 class="card-title">02_Fundamentos</h5>
       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <a href="./../../assets/Documentacion/ROVERS 2.pdf" class="btn btn-primary">Ver documento</a>
       </div>
       </div>
      </div>  

      <div class="col-12 col-md-6 col-lg-3">
          <div class="card" style="width: 18rem;">
         <img class="card-img-top" src="./../../assets/Documentacion/Rover3.jpg" alt="Card image cap">
         <div class="card-body">
         <h5 class="card-title">03_La propuesta educativa</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="./../../assets/Documentacion/ROVERS 3.pdf" class="btn btn-primary">Ver documento</a>
         </div>
         </div>
        </div>  

        <div class="col-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
           <img class="card-img-top" src="./../../assets/Documentacion/Rover4.jpg" alt="Card image cap">
           <div class="card-body">
           <h5 class="card-title">04_Educacion por la accion</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="./../../assets/Documentacion/ROVERS 4.pdf" class="btn btn-primary">Ver documento</a>
           </div>
           </div>
          </div>  
      

    
  </div>
  </div>
