
<div class="container mt-3">
 <div class="row justify-content-between">
   <div class="col-12  col-md-4 col-sm-12">
    <img src="./../../../assets/Imagenes/murc.jpg" alt="" width="400px">
   </div>
   <div class="col-12 col-md-4 col-sm-12 col-xs-12">
   <img src="./../../../assets/Imagenes/Murcielago.jpg" alt="" width="200px">
   </div>
   </div>
  <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Clave Murcielago</label>
       <textarea name="textarea" maxlength="300" rows="7"(keyup)="onKey($event)" type="text" class="form-control"  placeholder="Escribe un parrafo aqui...!!!"></textarea>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Codificacion</label>
        <textarea name="textarea" maxlength="300" rows="7" disabled (keyup)="onKey($event)" type="text" class="form-control"  placeholder="">{{codificado}}</textarea>
        </div>
      <input type="button" name="imprimir" value="Imprimir codificacion" onclick="window.print();">
    </form>

</div>







