<div class="container-fluid">
    <div class="row my-3 mx-1 align-item-center ">
<div class="col-12 col-md-6 col-lg-3">
        <h3 class="text-center  ">
           <a class="nav-link" [routerLink]="['/manada']"><img src="./../../assets/Imagenes/MANADA.png" alt="" ></a>      
        </h3>
       
        <h4>Nombre:</h4>
        <h5>Pueblo Alegre de Seeonee</h5>
        <p>Edades: niños y niñas de 7 a 11 años</p>
</div>
<div class="col-12 col-md-6 col-lg-3">
                <h3 class="text-center unidad">
                   <a class="nav-link" [routerLink]="['/unidad']"><img src="./../../assets/Imagenes/Unidad.png" alt=""></a>
                </h3>
                <a class="nav-link" [routerLink]="['/unidad']"><img src="./../../assets/Imagenes/aconhagua.jpg" alt="" width="200px" id="imagen"></a>
       
        <h4>Nombre:</h4>
        <h5>Aconhagua</h5>
        <p>Edades: jovenes entre 11 a 14 años</p>

       
</div>
<div class="col-12 col-md-6 col-lg-3">
                <h3 class="text-center  caminantes" >
                        <a class="nav-link" [routerLink]="['/caminantes']"><img src="./../../assets/Imagenes/caminantes.png" alt=""></a>
                </h3>
                <a class="nav-link" [routerLink]="['/caminantes']"><img src="./../../assets/Imagenes/calfucura.jpg" alt=""width="200px"id="imagen"></a>
        
        <h4>Nombre:</h4>
        <h5>Calfucura</h5>
        <p>Edades: jovenes entre 14 a 17 años</p>
</div>
<div class="col-12 col-md- 6 col-lg-3">
                <h3 class="text-center robert">
                        <a class="nav-link" [routerLink]="['/robert']"><img src="./../../assets/Imagenes/rovers.png" alt=""></a>      
                </h3>
                <a class="nav-link" [routerLink]="['/robert']"><img src="./../../assets/Imagenes/Amuyen.jpg" alt=""width="200px"id="imagen"></a>
        <h4>Nombre:</h4>
        <h5>Amuyen</h5>
        <p>Edades: jovenes entre 17 a 21 años</p>
</div>
 
</div>

</div>