

<div class="container">
    <h1>Actividades sábado 13/04/2019</h1>
<div class="row">
  <div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a1.jpg" alt=""></div>
  <div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a2.jpg" alt=""></div>
  <div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a3.jpg" alt=""></div>
  <div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a4.jpg" alt=""></div>
</div>
<div class="row">
<div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a5.jpg" alt=""></div>
<div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a6.jpg" alt=""></div>
<div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a7.jpg" alt=""></div>
<div class="col-6 col-md-3"><img src="./../../assets/calufura/20190413/a8.jpg" alt=""></div>
</div>
</div>