<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">GS N° 458</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>
      
        
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link"[routerLink]="['ramas']" >Ramas</a>
       </li>
      
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Documentacion
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item"[routerLink]="['Manada']">Manada</a>
        <a class="dropdown-item"[routerLink]="['Unidad']">Unidad</a>
        <a class="dropdown-item"[routerLink]="['Caminantes']">Caminantes</a>
        <a class="dropdown-item"[routerLink]="['Rovers']">Rovers</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Claves
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item"[routerLink]="['murcielago']">Murcielago</a>
        <a class="dropdown-item"[routerLink]="['hipotenusa']">Hipotenusa</a>
        <a class="dropdown-item"[routerLink]="['parelinofu']">Parelinofu</a>
        <a class="dropdown-item"[routerLink]="['morse']">Morse</a>
      </div>
    </li>

    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link"[routerLink]="['contacto']" >Contacto</a>
   </li>

      </ul>
     
    </div>
    <img src="./../../assets/Imagenes/ScoutA.jpg" alt="" width="50px">
  </nav>