<nav class="navbar navbar-expand-lg navbar-light" id="barra">
    <a class="navbar-brand" href="#" style="color:grey">GS N° 458</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/']"  style="color:grey">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/nosotros']"></a>
        </li>
      
        
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link"[routerLink]="['ramas']" style="color:grey" >Ramas</a>
       </li>
      
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color:grey">
       Documentacion
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item"[routerLink]="['Manada']">Manada</a>
        <a class="dropdown-item"[routerLink]="['Unidad']">Unidad</a>
        <a class="dropdown-item"[routerLink]="['Caminantes']">Caminantes</a>
        <a class="dropdown-item"[routerLink]="['Rovers']">Rovers</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color:grey">
       Formularios
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="./../../assets/Formularios/AutorizacionSalidas.pdf">Autorización salidas campamento/acantonamiento</a>
        <a class="dropdown-item" href="./../../assets/Formularios/AutorizacionSalidasCercanas.pdf">Autorización anual salidas cercanas</a>
        <a class="dropdown-item" href="./../../assets/Formularios/BeneficiariosMayores.pdf">Beneficiarios mayores salidas campamento</a>
        <a class="dropdown-item" href="./../../assets/Formularios/autorizacionIngreso.pdf">Autorización de ingreso menores 18 años</a>
        <a class="dropdown-item" href="./../../assets/Formularios/fichaMedica.pdf">Ficha médica</a>
        <a class="dropdown-item" href="./../../assets/Formularios/historiaClinica.pdf">Historia Clínica</a>
       
      </div>
    </li>

  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color:grey">
       Claves
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item"[routerLink]="['murcielago']">Murcielago</a>
        <a class="dropdown-item"[routerLink]="['hipotenusa']">Hipotenusa</a>
        <a class="dropdown-item"[routerLink]="['parelinofu']">Parelinofu</a>
        <a class="dropdown-item"[routerLink]="['morse']">Morse</a>
        <a class="dropdown-item"[routerLink]="['gato']">Gato o Regilla</a>
        <a class="dropdown-item"[routerLink]="['sietecruces']">Siete Cruces</a>
        <a class="dropdown-item"[routerLink]="['tateti']">Ta-Te-Ti</a>
      </div>
    </li>

    <li class="nav-item" routerLinkActive="active" >
      <a class="nav-link"[routerLink]="['contacto']"  style="color:grey">Contacto</a>
   </li>

      </ul>
     
    </div>
    <img src="./../../assets/Imagenes/ScoutA.jpg" alt="" width="50px">
  </nav>