#barra{
    background-color: rgb(170, 9, 42);
    font-family:  'miletra';
    font-size: 130%;
    color: rgb(168, 141, 141);
}

a{
    color: rgb(165, 160, 160)
}
@font-face{
    font-family: 'miletra';
    src: url('./../../MTCORSVA.TTF');
    }

    