h5,h4,h3,h2,p{
    color:grey;
    font-style: oblique;
}


@font-face{
    font-family: 'miletra';
    src: url('./../../MTCORSVA.TTF');
    }

#Imagen{

    width: 350px;
    margin-left: 15px;
    margin-bottom: 20px;
}

h1{
    color:grey;
    background-color:  rgb(128, 3, 13);
    font-family: 'miletra';
    text-align: center;
    margin-bottom: 20px;
}