


<div class="conteiner  bg-dark text-white py-1 " id="letra">

  <div class="row align-item-center mt-2 " >
    <div class="col-12 col-md-3 ">
     <ul>
       <li><h4>Grupo Scout N° 458</h4></li>
       <li> <h5>Nuestra Señora de Guadalupe</h5></li>
       <li> <h5>mail:scoutguadalupe458@gmail.com</h5></li>
      </ul>
    </div>
    
    <div class="col-12 col-md-3">
      <h5>Redes</h5> 
      <span style="font-size: 2em; color: white; padding-inline-end: 13px">
      <i class="fab fa-instagram"></i>
      </span>
      <span style="font-size: 2em; color: white; padding-inline-end: 13px">
      <i class="fab fa-twitter-square"></i>
      </span>
      <span style="font-size: 2em; color: white; padding-inline-end: 13px">
      <i class="fab fa-youtube-square"></i>
      </span>
      <span style="font-size: 2em; color: white; padding-inline-end: 13px">
      <a href="https://www.facebook.com//gsguadalupe"> 
      <i class="fab fa-facebook-square"></i>
      </a>
      </span>
    </div>

    <div class="col-12 col-md-3" >
      <ul>
        <li><h5>Argentina - C.A.B.A.</h5></li>
        <li><h5>Palermo</h5></li>
        <li><h5>Paraguay xxxx</h5></li>
      </ul>   
    </div>

    <div class="col-12 col-md-3 py-1" >
     <img src="./../../assets/Imagenes/Scout.jpg" alt="">
    </div>

  </div>


  <div class="row "  id="f"  >
    <div class="col-12 col-md-12 col-lg-12 text-center " >
      &copy;Copyright ScoutGuadalupe - pagina web realizada por  <a href="https://www.fronteraswebs.com" >FronterasWebs</a>
    </div>
  </div>
</div>