
ul{
    list-style-type:none;
}
#letra{
    font-family:'miletra';
    
    padding-top: 5px;
    text-align: center;
    background-color:  rgb(128, 3, 13);
    
}

@font-face{
    font-family: 'miletra';
    src: url('./../../MTCORSVA.TTF');
    }

#f{
width: 91%;
margin: auto;
border-top-width: 1px;
border-top-style: solid;
border-top-color: grey;
}

li{
    color: rgb(165, 160, 160);
}