


<div class="conteiner  bg-dark text-white py-1 ">

  <div class="row align-item-center ">
    <div class="col-12 col-md-6 col-lg-4">
     <ul>
       <li><h3>Jefe de Grupo</h3></li>
       <li>Maximiliano Corrado</li>
       <li>Te 113-244-3333</li>
       <li>Mail assasasasa@gmail.com</li>
       
     </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <ul>
            <li><h3>Redes sociales</h3></li>
            <li><a href="https://m.facebook.com/gsguadalupe">Facebook</a></li>
            <li>Instagram</li>
            <li>Twitter</li>
            
          </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <ul>
            <li><h3>Ubicacion</h3></li>
            <li>Argentina - Buenos Aires</li>
            <li>C.A.B.A - Palermo</li>
            <li></li>
           
          </ul>
    </div>
  </div>


  <div class="row align-items-center colo2  text-center">
    <div class="col-12 col-md-12 col-lg-12 text-center">
      &copy;Derechos de autor 2018 - Elaborado <a href="#" >Adrian Torres</a>
    </div>
  </div>
</div>