<div class="container mt-3">
  <div class="row">
    <div class="col-8 "></div>
    <div class="col-4 ">
  <img src="./../../../assets/Imagenes/tateti/tateti.png" alt="" width="200px">
 </div>
 </div>
   <form>
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Clave Ta-Te-Ti</label>
       <textarea name="textarea" maxlength="240" rows="7"(keyup)="onKey($event)" type="text" class="form-control"  placeholder="Ej:  Hola bienvenido"></textarea>
      </div>
      <label>Codificación</label> 
      <br> 
      <section *ngFor="let item of lista">
      <img src="./../../../assets/Imagenes/tateti/{{item}}.jpg" alt="" id="tateti">
      </section>
      <div id="division"></div>

      <input type="button" id="imprimir" value="Imprimir codificacion" onclick="window.print();">
    </form>


